@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: #1b1c22;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}

.movie {
  width: 250px;
  margin: 16px;
  border-radius: 3.1px;
  box-shadow: 3px, 3px, 5px, rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.movie img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
}

.film-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262830;
  padding: 5px;
}

.header {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header input {
  display: block;
  margin-top: 5px;
}

.form_label {
  font-weight: bold;
}

.form_field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #262830;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}